@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-gray-dark: #333333;
  --color-gray-medium: #585d6e;
  --color-blue: #0154aa;
  --color-gray-light: #737a91;
  --color-gray-extra-light: #e1e1e1;
  --color-gray-secondary: #fafafa;
  --color-placeholder: #b0b0b0;
  --color-search-bg: #f6f9ff;
  --color-gray-outline: #e9ecef;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-neue-haas: "Neue Haas Grotesk Display Pro", sans-serif;
  --color-gray-dark: #333333;
  --color-gray-medium: #585d6e;
  --color-blue: #0154aa;
  --color-gray-light: #737a91;
  --color-gray-extra-light: #e1e1e1;
  --color-gray-secondary: #fafafa;
  --color-placeholder: #b0b0b0;
  --color-search-bg: #f6f9ff;
  --color-gray-outline: #e9ecef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-neue-haas);
  font-weight: 500;
  font-style: normal;
  line-height: 100% !important;
  letter-spacing: 0;
}

.font-neue-haas {
  font-family: var(--font-neue-haas);
  font-weight: 500;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom breakpoint for 1443px - shows 5 columns */
@media (min-width: 1443px) {
  .grid-cols-5-custom {
    grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
  }
}

/* Hide scrollbar but keep scrolling functionality */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
